/* 
.container {
    
    
    margin: 0 auto;
    padding: 20px;
  }
  
  .addCandidate {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .fileInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .textInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .candidatesList {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .candidateCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .candidateCard img {
    max-width: 100%;
    border-radius: 4px;
    width: 300px;
    height: 300px;
  }
   */